input, select, textarea{
    color: #000000 !important;
  }
  .btn-ops-bg{
    background-color: white !important;
    padding: 10px;
    .col-lg-12 {
        background-color: white;
        padding: 10px;
    }
}
table{
    th{
        text-align: center;
    }
    tr{
        td{
            text-align: center;
        }
    }
}